COMPOSE_PROJECT_NAME=datasec
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
LDAP_ORGANISATION=Example Corp
LDAP_DOMAIN=example.org
LDAP_ADMIN_PASSWORD=admin
POSTGRES_USER=datasec
POSTGRES_PASSWORD=datasec
POSTGRES_DB=datasec
TRINO_VERSION=latest
